@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* RUTA DE COLORES */
:root {
    --color-primary:#557571;
    --color-secondary: #d49a89;
    --color-terciary: #f7d1ba;
  }
  
/* ESTILOS GENERALES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* HEADER */
.header-title {
    /* font-family: 'Antic Didone', serif; */
    font-family: 'Playfair Display', serif;
    /* font-style: italic; */
    text-align: center;
    font-size: 3.5rem;
    color: rgb(65, 65, 65);
    box-sizing: border-box;
    margin-top: 1.8%;
    margin-bottom: 2% ;
}

.header-title-mobile {
    display: none;
}

.header-img {
width: 100%;
height: auto;
}

.container-menu-mobile {
    display: none;
}

.header-img-mobile {
    display: none;
}

/* NAVBAR */

.navbar-container{
    box-sizing: border-box;
    padding: 0% 11%;
    display: block;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    border-bottom: solid var(--color-secondary) 1px;
    z-index: 2;
}

.navbar-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    box-sizing: border-box;
    /* height: 4rem; */
}

a:link, a:visited, a:active {
    text-decoration: none;
    color:  rgb(49, 49, 49);
}

.navbar-sublist {
    list-style: none;
    width: 6em;
    padding: 2% 0%;
    height: 0px;
    overflow: hidden;
    transition: all 1s ease;
}

.navbar-list-item {
    height: 20%;
    padding: 2% 0%;
    transition: border-top 0.5s ease-in-out;
}

.navbar-list-item:hover {
    border-top: solid var(--color-primary) 8px;
    color: var(--color-primary) ;
}

.navbar-list-item:hover > a {
    color: var(--color-primary) ;
}

.navbar-sublist-item:hover > a {
    color: var(--color-primary) ;
}

.navbar-list-item:hover > .navbar-sublist {
    height: 100px;
    /* background-color: burlywood; */
}

.navbar-sublist-item {
    margin-top: 3%;
}

/* SECTIONS */
.section-full-container {
    background-color: var(--color-terciary);
    padding: 4% 11%;
    box-sizing: border-box;
    /* display: block; */
    z-index: 1;
}

.section-container {
    background-color: #fafafa;
    scroll-behavior: smooth;
    box-shadow: 0 0 8px 0 #d49a89ef;
    padding: 8%;
    font-family: 'Playfair Display', serif;
    width: auto;
}

/* TITULOS */

.title-2 {
    font-family: 'Antic Didone', serif;
    color: var(--color-primary);
    font-size: 1.7rem;
    margin-bottom: 1%;
}

.title-3 {
    font-family: 'Antic Didone', serif;
    color: var(--color-secondary);
    border-left: solid var(--color-secondary) 1px;
    margin-bottom: 1%;
    margin-top: 2%;
    padding-left: 0.5%;
    
    
}

/* SOBRE MI */

.sobre-mi-section {
    border-bottom: solid 1px rgba(128, 128, 128, 0.342);
    padding-bottom: 8%;
}

.sobre-mi-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    box-sizing: border-box;
}

.sobre-mi-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    box-sizing: border-box;
}

.sobre-mi-text {
    line-height: 1.5rem;
}

.sobre-mi-img {
    width: 35%;
    margin-left: 8%;
    
}

.sobre-mi-button {
    width: 35%;
    /* font-family: 'Antic Didone', serif; */
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1%;
    background-color: var(--color-terciary);
    border: none;
    border-radius: 5px;
    color: rgb(49, 49, 49); ;
    box-shadow: 0 4px 8px 0 #29292963;
    cursor: pointer;
    outline: none;
}

/* ARQUITECURA */

.arquitectura-section {
    margin-top: 8%;
    border-bottom: solid 1px rgba(128, 128, 128, 0.342);
    padding-bottom: 8%;
}

/* ARQ-SKILLS */
.arq-skills-full-container{
    margin-top: 5%;
}

.arq-skills-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.arq-skills-img {
    width: 26%;
    height: auto;
    padding: 2%;
}

.arq-skills-img:hover {
    filter: brightness(1.1);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.356));
}

/* ARQ-TRABAJOS */
.arq-trabajos-anchor {
    display: block;
    position: relative;
    bottom: 80px;
}

.arq-trabajos-full-container {
    margin-top: 5%;
}

.arq-trabajos-container {
    width: 100%;
    height: auto;
    margin-top: 3%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.arq-trabajos-div1 {
    flex: 1 1 auto;
    padding: 1%;
    text-align: center;
}

.arq-trabajos-div2 {
    flex: 1 1 auto;
    padding: 1%;
    text-align: center;
}

.arq-trabajos-div3 {
    flex: 1 1 auto;
    padding: 1%;
    text-align: center;
}

.arq-trabajos-img {
    width: 100%;
    margin-bottom: 5%;
    transition: all 0.5s ease-in-out ;
    filter: grayscale(40%);
}

.arq-trabajos-img:hover {
    transform: scale(1.1);
    filter: none;
}

/* DESARROLLO WEB */
.desarrollo-web-section {
    margin-top: 8%;
    border-bottom: solid 1px rgba(128, 128, 128, 0.342);
    padding-bottom: 5%;
}

/* DW-SKILLS */
.dw-skills-full-container {
    margin-top: 5%;
}
.dw-skills-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}


.dw-skills-img {
    width: 26%;
    height: auto;
    padding: 2%;;
}

.dw-skills-img:hover {
    filter: brightness(1.1);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.356));
}

/* DW-TRABAJOS */
.dw-trabajos-anchor {
    display: block;
    position: relative;
    bottom: 80px;
}

.dw-trabajos-full-container {
    margin-top: 5%;
}

.dw-trabajos-container {
    width: 100%;
    height: auto;
    margin-top: 3%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.dw-trabajos-div1 {
    flex: 1 1 auto;
    padding: 1.5%;
    text-align: center;
}

.dw-trabajos-div2 {
    flex: 1 1 auto;
    padding: 1.5%;
    text-align: center;
}

.dw-trabajos-img {
    width: 100%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 #29292963;
    transition: all 0.5s ease-in-out;
    filter: grayscale(40%);
}

.dw-trabajos-img:hover {
    transform: scale(1.1);
    filter: none;
}

/* FOOTER */

.footer-container {
    background-color: var(--color-secondary);
    width: 100%;
    height: auto;
    padding: 2% 11% ;
}

.footer-contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.footer-form {
    flex: 1 1 auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
}

.footer-text {
    margin-top: 2%;
    flex: 1 1 auto;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 2%;
    color: rgb(83, 83, 83);
}

.footer-text a {
    color: rgb(83, 83, 83);
}

.form-item-name {
    margin-bottom: 2%;
    padding: 0.5%;
}

input {
    border: 0;
    border-bottom: var(--color-terciary) solid 2px;
    outline: none;
    transition: border-bottom 0.5s ease-in-out;
    border-radius: 2px;
}

input:focus {
    border-bottom: solid var(--color-primary) 3px;
}

.form-item-ap {
    padding: 0.5%;
    margin-bottom: 2%;
} 

textarea {
    width: 100%;
    padding: 0.5% 1%;
    border: 0;
    border-bottom: var(--color-terciary) solid 2px;
    outline: none;
    transition: border-bottom 0.5s ease-in-out;
    border-radius: 2px;
}

textarea:focus {
    border-bottom: solid var(--color-primary) 3px;
}

.button-submit {
    margin-top: 2%;
    padding: 1% 1.5%;
    width: fit-content;
    border: none;
    border-radius: 2px;
    color: rgb(83, 83, 83);
    transition: all 0.5s ease;
}

.button-submit:hover {
    background-color: var(--color-primary);
    color: white;
    box-shadow: 0 4px 8px 0 #29292963;
}

/* ASIDE */
.aside-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 5%;
    right: 0;
    z-index: 3;
}

.aside-container a:hover {
    margin-right: 25%;
}

.aside-icons {
    width: 1.5rem;
    font-size: 1.7rem;
    margin-bottom: 5px;
    color:rgb(83, 83, 83); 
}

.aside-icons:hover {
    transform: scale(1.2);
    color: var(--color-primary);
}

/* PAGINA COCINA */
.trabajo-cocina {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.trabajo-cocina-img {
    width: 100%;
    height: auto;
    margin: 1% 0;
}

.titulo-trabajo {
    color: var(--color-primary);
    margin-bottom: 1%;
}

.texto-trabajo {
margin-bottom: 1%;
}

.footer-container-trabajo {
    color:rgb(51, 51, 51); 
    font-size: 1.2rem; 
    text-align: center;
}

/* ----------RESPONSIVE----------- */

/* TABLET HORIZONTAL */
@media (min-width:768px) and (max-width:990px) {

    .header-title {
        font-size: 2.8rem;
    }

    .header-title-mobile {
        display: none;
    }

    .navbar-list {
        font-size: 1.2rem;
    }

    .title-2 {
        font-size: 1.6rem;
    }

    .sobre-mi-info {
        width: 50%;
        font-size: 0.8rem;
        line-height: none;
    }

    .sobre-mi-img {
        width: 50%;
        height: auto;
        margin-left: 4%;
    }

    .sobre-mi-button {
        font-size: 1rem;
        margin-top: 1%;
    }

    .arq-trabajos-container p {
        font-size: 0.75rem;
    }

    .dw-trabajos-container p {
        font-size: 0.75rem;
    }

    .footer-form {
        font-size: 0.8rem;
    }

    .footer-text {
        font-size: 1.2rem;
    }
}

/* TABLET VERTICAL */
@media (min-width:620px) and (max-width:768px) {

    body {
        overflow-x: hidden;
    }

    .header-title {
        font-size: 2.3rem;
    }

    .header-title-mobile {
        display: none;
    }

    .navbar-list {
        font-size: 1.1rem;
    }

    .title-2 {
        font-size: 1.4rem;
    }

    .title-3 {
        font-size: 1rem;
    }

    .sobre-mi-info {
        width: 50%;
        font-size: 0.7rem;
        line-height: none;
    }

    .sobre-mi-text {
        line-height: 1.2rem;
    }

    .sobre-mi-img {
        width: 50%;
        height: auto;
        margin-left: 4%;
        margin-top: 2%;
        margin-bottom: 7%;
    }

    .sobre-mi-button {
        font-size: 1rem;
        margin-top: 3%;
    }

    .arq-trabajos-container p {
        font-size: 0.7rem;
    }

    .dw-trabajos-container p {
        font-size: 0.7rem;
    }

    .footer-form {
        font-size: 0.6rem;
    }

    .footer-text {
        font-size: 1rem;
    }

}

/*----------- PANTALLAS CHICAS --------------*/

@media (max-width:620px) {
    /* HEADER */
    body {
        overflow-x: hidden;
    }

    .section-container {
        margin: 2% 0;
    }

    .container-menu-mobile {
        display: flex;
        
    }

    .header-img-mobile {
        display: flex;
        overflow-x: hidden;
        width: 100%;
        height: auto;
        padding-top: 7%;
    }

    .header-img {
        display: none;   
    }

    .navbar-container {
        display: none;
    }

    .header-title {
        display: none;
    }

    .header-title-mobile {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        text-align: center;
        color: rgb(49, 49, 49);
        font-family: 'Playfair Display', serif;
        margin: 2% 0;
    }

    .menu-mobile {
        padding-top: 1%;
        text-align: center;
        display: none;
        height: 0;
        width: 100%;
        transition: all 0.5s ease-in-out ;
    }


    .container-menu-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Playfair Display', serif;
        border-bottom: solid var(--color-secondary) 1px;
        color: rgb(49, 49, 49);
        padding-bottom: 0.5%;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 10;
    }

    .titulo-menu-mobile {
        font-size: 1.4rem;
        
    }
    .titulo-menu-mobile:hover {
        border-top: solid var(--color-primary) 4px;
        color: var(--color-primary) ;
    }

    .input-menu {
        display: none;
    }

    .input-menu:checked~ .menu-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 5rem;
    }

    .menu-mobile-items:hover {
        color: var(--color-primary);
    }

    .title-2 {
        font-size: 1.2rem;
    }

    .title-3 {
        font-size: 1rem;
    }

    /* SOBRE MI */
    .sobre-mi-info {
        width: 100%;
        font-size: 0.75rem;
        line-height: none;
    }

    .sobre-mi-text {
        line-height: 1.2rem;
    }

    .sobre-mi-img {
        display: none;
    }

    .sobre-mi-button {
        font-size: 0.9rem;
        margin-top: 3%;
        color: rgb(105, 105, 105);
        font-family: 'Playfair Display', serif;
        width: fit-content;
        padding: 1%;
    }

    /* ARQ-SKILL */
    .arq-skills-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .arq-skills-img {
        width: 48%;
        height: auto;
        padding: 2%;
    }

    /* ARQ-TRABAJOS */
    .arq-trabajos-container {
        width: 100%;
        height: auto;
        margin-top: 3%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
    .arq-trabajos-div1 {
        margin-top: 4%;
        padding: 1%;
        text-align: center;
        font-size: 0.8rem;
    }
    
    .arq-trabajos-div2 {
        margin-top: 6%;
        padding: 1%;
        text-align: center;
        font-size: 0.8rem;
    }
    
    .arq-trabajos-div3 {
        margin-top: 6%;
        padding: 1%;
        text-align: center;
        font-size: 0.8rem;
    }

    .arq-trabajos-img {
        margin-bottom: 1%;
    }
    
    /* DESARROLLO WEB */

    /* DW-SKILS */
    .dw-skills-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        box-sizing: border-box;
    }
    
    
    .dw-skills-img {
        width: 48%;
        height: auto;
        padding: 2%;
    }

    /* DW-TRABAJOS */
    .dw-trabajos-container {
        width: 100%;
        height: auto;
        margin-top: 3%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
    .dw-trabajos-div1 {
        margin-top: 6%;
        padding: 1.5% 1%;
        text-align: center;
        font-size: 0.8rem;
    }
    
    .dw-trabajos-div2 {
        margin-top: 6%;
        padding: 1.5% 1%;
        text-align: center;
        font-size: 0.8rem;
    }

    .dw-trabajos-img {
        margin-bottom: 1% ;
    }

    /* FOOTER */
    .footer-text {
        margin-top: 5%;
        font-size: 1rem;
    }

    input {
        font-size: 1rem;
    }

    .form-item-name {
        font-size: 0.8rem;
    }

    .form-item-ap {
        font-size: 0.8rem;
    }

    .footer-form textarea {
        font-size: 0.8rem;
    }

    .button-submit {
        font-size: 0.85rem;
    }

    .aside-container {
        position: fixed;
        top: 10%;
        right: 0;
    }

    .aside-icons {
        width: 1rem;
        font-size: 1.3rem;
    }

    .aside-icons-home {
        width: 1rem;
        font-size: 1.3rem;
    }

    /* COCINA */
    .titulo-trabajo {
        font-size: 1.2rem;
    }
    
    .texto-trabajo {
        font-size: 0.8rem;
        margin-bottom: 3%;
    }

    .footer-container-trabajo {
        display: flex;
    }

    .footer-container-trabajo {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }
}